{% extends "carefreg/base.html" %}

{% block title %}
    <title>{{ page_title }}</title>
{% endblock title %}
{% block page_title %}
    <h1 class="mt-4">{{ page_title }}</h1>
{% endblock page_title %}
{% block page_content %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group row">
            <div class="col-auto">
                <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                {{ field }}
                <div class="invalid-feedback">
                {{ field.errors }}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="form-group row">
            <div class="col-auto">
                <input type="submit" value="Сохранить" class="btn btn-primary">
            </div>
        </div>
    </form>
{% endblock page_content %}
