{% extends "carefreg/base.html" %}
{% load carefreg %}

{% block title %}
    <title>{{ page_title }}</title>
{% endblock title %}
{% block page_title %}
    <h1 class="mt-4">{{ page_title }}</h1>
{% endblock page_title %}
{% block page_content %}
    <table class="table table-striped table-bordered">
        <thead>
        <tr class="table-primary">
        {% for field_name in model_fields.values %}
            <th>{{ field_name }}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for obj in object_list %}
            {% table_row obj model_fields %}
        {% endfor %}
        </tbody>
    </table>
{% endblock page_content %}
